
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}"><span style="color: dimgray;">#{{ site.title_left }}{{ site.title_right }}</span></a></h1>
    <ul class="navbar">
      <!-- <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About me</a></li> -->
      <li><a style="color: dimgray;font-weight: bold;font-size: larger;" href="{{ '/posts' | prepend: site.baseurl | prepend: site.url }}">posts</a></li>
    </ul>
  </div>
</nav>
